/* style of color background and image  */
body {
    background-color:black;
    background-image: url("tec.jpg") , url("tec1.jpg");
     background-repeat: no-repeat;
     background-size: 800px 800px;
     background-position: top left , bottom right ;
  }

  /* style of h1  */
  h1 {
      color:white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      text-align: center ;
      margin-top: 90px;
      color:yellow ;
      font-size: 50px;
      text-shadow: 2px 2px 6px yellow;
      
  }
  /* style of container and box */
  *{box-sizing: border-box}
  .container { width:400px ; overflow:hidden ; margin:50px auto 0 auto ;}
  .container span{ width: 100%; display:block ; text-align:center ; font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; color: white ;font-size: 25px; background : gray; }
  .container .box { float:left ; width:133px; height: 133px; border:0.5px solid black ;
  background-color: white ; transition: all .25s ; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size:85px; text-align: center ; cursor: pointer ;   margin:0.5; }

/* change background of box to gray  */
.grey{ background: gray ;}  


span {
  margin-bottom: 5px ;
}


  button {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color:black;
    border: 0.5px solid white;
    padding: 17px;
    transition: border, color, .5s;
    border-radius: 25px;
    margin : 60px auto ;
    display : block ;
    cursor: pointer;
    transition-duration: 0.4s;
    
  }
  
button:hover {
  color:yellow ;
  border: 0.5px solid yellow; 
}

  
  